server:
  port: 8080
  profile: local


spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=UTF-8&serverTimezone=Asia/Seoul
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

payment:
  toss:
    widget-secret-key: test_gsk_docs_OaPz8L5KdmQXkzRz3y47BMw6

cloud:
  aws:
    region: ap-northeast-2
    s3:
      bucket: eatsfine-images
      base-url: https://eatsfine-images.s3.ap-northeast-2.amazonaws.com

jwt:
  secret: ${SECRET_KEY}
